.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* min-height: 100vh; */
}

#sidebar.active {
    margin-left: -250px;
}




/* Testing */
.card
{
    min-width: 400px;
    /* min-height: 650px; */
    margin-left: 100px;
    border: 1px solid transparent;
    display: inline-block;
}

.row1
{
    width: max-content;
}

/* .row2
{
    width: max-content;
} */




  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
  }
  
  /* .Aligner-item {
    max-width: 50%;
  } */
  
  .wrapper-rhs
  {
    width: 370px;
    height: 650px;
    float: right;
  }

  .text-wrapper
  {
    position: absolute;
    bottom: 0px;
  }

  .img-card
  {
      display: inline;
      height: 370px;
      width: 370px;
      float: left;
      position: absolute;
  }

  .side-text
  {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    float: left;
    margin: 0px;
    margin-bottom: 1em;
    transform: rotate(180deg);
    text-align: left;
    height: 650px;

  }

  .title
  {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 0px;
  }

  .sub-text-1
  {
      font-size: 0.9em;
      font-style: italic;
      color: #555;
      width: 370px;
      float: left;
      margin-bottom:  5px;
  }

  .sub-text-2
  {
      margin-top: 10px;
      width: 370px;
      float: left;
  }

  .vid-card
  {
      float: left;
      position: absolute;
      display: none;
  }

  .img-container
  {
      position: relative;
    height: 370px;
    width: 370px;
    overflow: hidden;
  }